---
---

/*
  If the number of TAB files has changed, the following variable is required.
  And it must be defined before `@import`.
*/
$tab-count: {{ site.tabs | size | plus: 1 }}; // plus 1 for home tab

@import "{{ site.theme }}";
a {
  color: #FF6666;
  text-decoration: none;
}

#toc li a:hover, #toc li a.active, #toc li a:focus {
  color: #FF6666 !important;
  border-left-color: #FF6666 !important;
}

.post-tail-wrapper .post-meta a:not(:hover), .post-content a:not(.img-link) {
  border-bottom: none;
}

.post-navigation .btn {
  color: #FF6666 !important;
}


/* append your custom style below */
